# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Arduino build files
*.bin
*.elf
*.map

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secrets
secrets.h
config.h

obj/
bin/

config.json